<% if !task.complete? %>
  <li>
    <%= link_to complete_task_path(task.id), id: task.id, method: :patch, remote: true do %>
      <div class="checkbox">
        <input type="checkbox">
        <label></label>
        <i class="fa fa-check"></i>
      </div>
    <% end %>
    <%= link_to edit_task_path(task), class: 'task-text' do %>
      <%= task.name %>
    <% end %>
  </li>
<% end %>